<div id="tarjeta">
  <p-card class="card" title="Actor" [style]="{width: '100%'}" styleClass="ui-card-shadow" style="margin-left: 20px; margin-top: 30px" *ngFor="let info of tarjeta">
    <div class="div">
      <label>Nombres:</label>
      {{info.nombres}}
      <br>
      <label>Apellidos:</label>
      {{info.apellidos}}
      <br>
      <label>Fecha de nacimiento:</label>
      {{info.fechaNacimiento}}
      <br>
      <label>Numero de Peliculas:</label>
      {{info.numeroPeliculas}}
      <br>
      <label>Retirado:</label>
      {{info.retirado}}
    </div>
  </p-card>
</div>
