<form id="formDetalle" class="example-form" #detalle="ngForm" (ngSubmit)="agregarDatos(detalle)">
  <h3 class="first" style="margin-top: 30px">Ingresar Pelicula</h3>
  <div>
    <div>

      <div class="ui-g-6 ui-md-4" style="margin-right: 10px">
        <span class="ui-float-label"></span>
        <input type="text" pInputText placeholder="Pelicula Id" name="identificadorPelicula" [(ngModel)]="identificadorPelicula">
      </div>

      <div class="ui-g-6 ui-md-4" style="margin-right: 10px">
        <span class="ui-float-label"></span>
        <input type="text" pInputText placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
      </div>

      <div class="ui-g-6 ui-md-4" style="margin-right: 10px">
        <span class="ui-float-label"></span>
        <input id="anio" type="text" pInputText placeholder="Año" name="anioLanzamiento" [(ngModel)]="anioLanzamiento">
      </div>

      <div class="ui-g-6 ui-md-4" style="margin-right: 10px">
        <span class="ui-float-label"></span>
        <input id="raiting" type="text" pInputText placeholder="Raiting" name="rating" [(ngModel)]="rating">
      </div>

      <div class="ui-g-6 ui-md-4" style="margin-right: 10px">
        <span class="ui-float-label"></span>
        <input id="actores" type="text" pInputText placeholder="Actores" name="actoresPrincipales" [(ngModel)]="actoresPrincipales">
      </div>

      <div class="ui-g-6 ui-md-4" style="margin-right: 10px">
        <span class="ui-float-label"></span>
        <input id="sinopsis" type="text" pInputText placeholder="Sinopsis" name="sinopsis" [(ngModel)]="sinopsis">
      </div>

      <div>
        <span class="ui-float-label"></span>
        <input id="actorId" type="text" style="margin-left: 9px; margin-top: 5px" pInputText placeholder="Actor Id" name="actorId" [(ngModel)]="actorId">
      </div>

    </div>

    <button pButton  type="primary"  label="Guardar" class="ui-button-success" style="margin-left: 50px; margin-top: 20px"></button>
    <button pButton  type="button" onclick="document.getElementById('formDetalle').reset()" label="Borrar" class="ui-button-warning" style=" margin-left: 100px; margin-top: 10px"></button>
  </div>




</form>



