<form id="formDetalle" class="example-form" #detalle="ngForm" (ngSubmit)="agregarDatos(detalle)">

  <h3 class="first" style="margin-top: 30px">Ingresar Pelicula</h3>


  <div class="ui-g-6 ui-md-4" style="margin-right: 10px">

    <h5 class="first" style="margin-top: 30px">Pelicula ID</h5>
    <input type="text" pInputText placeholder="" name="identificadorPelicula" [(ngModel)]="identificadorPelicula">

    <h5 class="first" style="margin-top: 30px">Nombre</h5>
    <input type="text" pInputText placeholder="" name="nombre" [(ngModel)]="nombre">

    <h5 class="first" style="margin-top: 30px">Año Lanzamiento</h5>
    <input type="text" pInputText placeholder="" name="anioLanzamiento" [(ngModel)]="anioLanzamiento">

    <h5 class="first" style="margin-top: 30px">Actores</h5>
    <input type="text" pInputText placeholder="" name="actoresPrincipales" [(ngModel)]="anioLanzamiento">

    <h5 class="first" style="margin-top: 30px">Sinopsis</h5>
    <input type="text" pInputText placeholder="" name="sinopsis" [(ngModel)]="sinopsis">

    <h5 class="first" style="margin-top: 30px">Actor ID</h5>
    <input type="text" pInputText placeholder="" name="actorId" [(ngModel)]="actorId">

    <button mat-stroked-button type="primary" style="width: 50%; margin-left: 25%; margin-top: 10px">Guardar</button>

  </div>


  <!-- <div class="ui-g-6 ui-md-4" style="margin-right: 10px">
     <div class="ui-inputgroup">
       <input type="text" pInputText placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
     </div>
   </div>


   <div class="ui-g-6 ui-md-4" style="margin-right: 10px">

     <div class="ui-inputgroup">
       <input type="text" pInputText placeholder="Año Lanzaminento" name="anioLanzamiento" [(ngModel)]="anioLanzamiento">
     </div>

   </div>

   <div class="ui-g-6 ui-md-4" style="margin-right: 10px">

     <div class="ui-inputgroup">
       <input type="text" pInputText placeholder="Rating" name="rating" [(ngModel)]="rating">
     </div>

   </div>

   <div class="ui-g-6 ui-md-4" style="margin-right: 10px">

     <div class="ui-inputgroup">
       <input type="text" pInputText placeholder="Actoree Principales" name="actoresPrincipales" [(ngModel)]="actoresPrincipales">
     </div>

   </div>

   <div class="ui-g-6 ui-md-4" style="margin-right: 10px">

     <div class="ui-inputgroup">
       <input type="text" pInputText placeholder="Sinopsis" name="sinopsis" [(ngModel)]="sinopsis">
     </div>

   </div>

   <div class="ui-g-6 ui-md-4" style="margin-right: 10px">

     <div class="ui-inputgroup">
       <input type="text" pInputText placeholder="Actor ID" name="actorId" [(ngModel)]="actorId">
     </div>

   </div>-->


</form>

<!--<button id="botonLimpiarDetalle" pButton type="button" label="Limpiar"
        onclick="document.getElementById('formDetalle').reset()" mat-button
        style="width: 70%; margin-top: 10px"></button>-->



