<div id="tablaDetalle" style="padding-bottom: 20px">
  <p-table [value]="datosTabla" *ngFor="let datos of datosTabla">
    <ng-template pTemplate="header">
      <h3 style="padding-top: 20px; width: 400px">Actor {{datos[0].nombres}}</h3>
      <tr>
        <th style="text-align: center">#</th>
        <th>ID Pelicula</th>
        <th>Nombre</th>
        <th>Año</th>
        <th>Rating</th>
        <th>Actores</th>
        <th>Sinopsis</th>
        <th>ActorId</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr *ngFor="let datosTabla of datos[0].peliculas; let i = index">
        <th>{{i+1}}</th>
        <td>{{datosTabla.identificadorPelicula}}</td>
        <td>{{datosTabla.nombre}}</td>
        <td>{{datosTabla.anioLanzamiento}}</td>
        <td>{{datosTabla.rating}}</td>
        <td>{{datosTabla.actoresPrincipales}}</td>
        <td>{{datosTabla.sinopsis}}</td>
        <td>{{datosTabla.actorId}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>

