<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="margin-top: 10px">

  <div class="row">

    <div class="col-sm-8">
      <h3 class="first" align="center" style="margin-top: 30px"></h3>
      <app-carrusel></app-carrusel>
    </div>

    <div class="col-sm-4">
      <app-cabecera></app-cabecera>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">
      <app-lista-actores></app-lista-actores>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <app-peliculas></app-peliculas>
    </div>

    <div class="col-sm-6">
      <app-card></app-card>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">
      <app-tabla-peliculas></app-tabla-peliculas>
    </div>

  </div>

</div>

